:root{
	--color: #4700D8;
	--color-n: #000722;
	--color-b: #ffffff;
}

@font-face {
	font-family: pop;
	src: url(./Poppins-Medium.otf);
}
@font-face {
	font-family: popLight;
	src: url(./Poppins-Light.otf);
}

*{
	box-sizing: border-box;
	font-family: pop;
}

body,html{
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	height: 100%;
	background-color: var(--color-n);
}

.nav{
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}

.nav__logo{
	font-family: pop;
	font-weight: 700;
	font-size: 2.7rem;
	color: var(--color);
}

.nav__buscar{
	position: relative;
	background-color: transparent;
	background-image: url(./search.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	width: 3rem;
	height: 4vh;
	outline: none;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0 1rem;
	border-radius: 3vh;
	transition: .4s ease-in-out;
	color: transparent;
}

.nav__buscar:focus{
	background-position: right;
	border: 2px solid var(--color);
	width: 50vw;
	max-width: 400px;
	color: var(--color);
}

/*------------------*/
/*-------SLIDE------*/
/*------------------*/

::-webkit-scrollbar {
    display: none;
}

.section{
	position: relative;
	font-family: pop;
	margin: 1rem 0 0 0;
}

.section::before, .section::after{
	position: absolute;
	content: '';
	right: -.3rem;
	bottom: 0;
	background-image: linear-gradient(to right, transparent , var(--color-n)90%);
	width: 8%;
	height: 95%;
	z-index: 10;
}

.section::before{
	left: -.3rem;
	background-image: linear-gradient(to left, transparent , var(--color-n)90%);
}

.section-titulo{
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--color-b);
	opacity: .8;
	margin: 0 0 .5rem 5%;
}

.slide{
	position: relative;
	display: flex;
	flex-direction: row;
	padding-left: 5%;
	gap: 20px;
	color: var(--color-b);
	font-family: pop;
	overflow-x: scroll;
	overflow-y: visible;
	box-sizing: content-box;
	scrollbar-width: none;
}

.slide__peli-titulo, .slide__peli-date{
	text-overflow: ellipsis;
	line-height: 1rem;
	margin-top: .5rem;
	color: var(--color-b);
}

.slide__peli-date{
	font-size: .8rem;
	opacity: .7;
}

.section:nth-of-type(1) .slide__peli-img{
	width: calc(10vh + 10vw);
}

.slide__peli-img{
	width: calc(10vh + 8vw);
}

.aside{
	position: absolute;
	background-color: var(--color-n);
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 100%;
	z-index: 100;
	transition: .4s ease-in-out;
}

.active{
	left: 0%;
}

.aside__main{
	position: relative;
	height: 50vh;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.aside__main::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 20vh;
	bottom: 0;
	background-image: linear-gradient( transparent, var(--color-n) );
}

.aside__main--img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-position: top center;
	object-fit: cover;
	z-index: -1;
}

.aside__main--title{
	color: white;
	text-transform: capitalize;
	font-family: pop;
	letter-spacing: 1px;
	font-size: calc(3vh + 3vw);
	text-align: center;
	z-index: 20;
}

.aside__main--about{
	font-size: calc(1vh + 1vw);
	text-align: center;
	margin-top: .5rem;
	font-family: pop;
	color: grey;
	z-index: 20;
}
.aside__main--rate{
	display: flex;
	font-family: pop;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: .5rem;
	font-size: calc(1.2vh + 1.2vw);
	color: gold;
	text-align: center;
}
.aside__main--stars{
	display: inline;
	margin-left: .5rem;
	font-size: calc(1.5vh + 1.5vw);
	background: -webkit-linear-gradient(0deg, gold 75%, grey 35%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.aside__main--descript{
	font-family: popLight;
	font-size: calc(1.3vw + 1.3vh);
	padding: .5rem 5%;
	color: gray;
}

.aside__back{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	background-image: url(./arrow.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 8vw;
	height: 8vw;
	margin: 5%;
	z-index: 90;
}